.box { width: 98vw; margin-left: 1vw; }
.product { display: flex; align-items: center; }
.product > * { height: 80px; }
.thumbnail { border-radius: 10px; width: 80px; height: 80px; }
p { font-family: Calibri, 'sans-serif'; }
.product > div { display: flex; align-items: center; }