@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

@layer default_style {
    * {
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
        user-select: none;
        -webkit-user-drag: none;
        color-scheme: light dark;
    }

    body {
        position: relative;
        overflow: hidden;
        background-color: light-dark(#F8F8F8, rgb(24, 23, 23));
    }
}

@layer fonts {
    :root {
        --Noto_Sans_JP: 'Noto Sans JP';
        --Poppins: Poppins;
        --Lato: Lato;
        --Inter: Inter;
    }
}

@layer main {
    section#main {
        width: 100vw;
        min-height: 100vh;
        display: flex;
    }

    section#main>aside.info,
    section#main>aside.pay {
        min-height: 100vh;
        width: 50%;
    }
}

@layer Purchase_Details {

    @layer value_information {

        @layer colors {

            /* Use the form:  --variable: light-color, dark-color;  to edit */

            :root {
                --p_info: rgb(86, 84, 84), rgb(208, 205, 205);
                --valueh1_info: black, rgb(230, 228, 228);
                --p_info_shadow: rgba(0, 0, 0, 0.196);
                --valueh1_info_shadow: rgba(0, 0, 0, 0.147);
            }
        }

        @layer properties {
            section#main>aside.info {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            section#main>aside.info section.cont {
                height: 80%;
                width: 60%;
            }

            section#main>aside.info section.cont aside.valueinfo {
                display: flex;
                flex-direction: column;
                gap: 1.5vmin;
            }

            section#main>aside.info section.cont aside.valueinfo p#info {
                font-size: .9rem;
                line-height: 1rem;
                text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.099);
                color: light-dark(var(--p_info));
                font-family: var(--Noto_Sans_JP);
                font-weight: 700;
            }

            section#main>aside.info section.cont aside.valueinfo h1 {
                font-size: 2rem;
                display: flex;
                gap: .5vmin;
                line-height: 2rem;
                text-shadow: 0px 0px 5px var(--valueh1_info_shadow);
                font-family: var(--Lato);
                color: light-dark(var(--valueh1_info));
            }
        }

    }

    @layer products {

        @layer colors {
            :root {
                --p_name: rgb(35, 32, 32), white;
                --p_desc: rgb(86, 84, 84), rgb(233, 233, 233);
                --p_value: black, white;
                --p_unity: rgb(86, 84, 84), rgb(233, 233, 233);

                --button-quantity-bg-color: rgba(128, 128, 128, 0.245), rgba(128, 128, 128, 0.245);
                --button-quantity-hover-bg-color: rgba(138, 134, 134, 0.327), rgba(194, 189, 189, 0.343);
                --button-quantity-color: rgb(86, 84, 84), rgb(205, 197, 197);
                --button-quantity-hover-color: black, white;
                --button-shadow: rgba(0, 0, 0, 0.050);
                --image-border-color: rgba(40, 36, 36, 0.589), rgb(135, 133, 133);
            }
        }

        @layer properties {

            section#main aside.products {
                margin-top: 5vmin;
                width: 70%;
            }

            section#main aside.products div#product {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: auto;
                margin-top: 4vmin;
                height: 8vmin;
                width: 100%;
            }

            section#main aside.products div#product section.details {
                display: flex;
                gap: 2vmin;
            }

            section#main aside.products div#product section.details img {
                width: 5vmin;
                height: 5vmin;
                border: 2px solid light-dark(var(--image-border-color));
                object-position: center center;
                border-radius: 5px;
            }

            section#main aside.products div#product section.details div.details p.name {
                font-family: var(--Inter);
                font-weight: 600;
                color: light-dark(var(--p_name));
                letter-spacing: .5px;
                font-size: 1em;
            }

            section#main aside.products div#product section.details div.details p.description {
                font-family: var(--Inter);
                color: light-dark(var(--p_desc));
                margin-top: .4vmin;
                letter-spacing: .5px;
                font-size: .75em;
            }

            section#main aside.products div#product section.details button.quantity {
                cursor: pointer;
                margin-top: 1.2vmin;
                padding: 0 5px;
                display: flex;
                gap: .5vmin;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 2.25vmin;
                border-radius: 5px;
                font-family: var(--Inter);
                font-weight: bold;
                font-size: .8em;
                border: none;
                color: light-dark(var(--button-quantity-color));
                background-color: light-dark(var(--button-quantity-bg-color));
                box-shadow: 0px 0px 5px var(--button-shadow);
                transition-duration: .4s;
            }

            section#main aside.products div#product section.details button.quantity svg {
                position: relative;
                display: inline;
                height: 1.5em;
                width: auto;
                transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }

            section#main aside.products div#product section.details button.quantity:hover {
                color: light-dark(var(--button-quantity-hover-color));
                background-color: light-dark(var(--button-quantity-hover-bg-color));
            }

            section#main aside.products div#product section.details button.quantity:hover svg {
                transform: translateY(15%);
            }

            section#main aside.products div#product div.value {
                display: flex;
                flex-direction: column;
                gap: 1vmin;
            }

            section#main aside.products div#product div.value p.value {
                display: flex;
                gap: .4vmin;
                font-family: var(--Lato);
                font-size: 1.1em;
                font-weight: bold;
                color: light-dark(var(--p_value));
            }

            section#main aside.products div#product div.value p.unity {
                display: flex;
                font-size: .9em;
                gap: .5vmin;
                font-family: var(--Lato);
                color: light-dark(var(--p_unity));
            }

            section#main aside.products div#product div.value p.unity span.container {
                display: flex;
                gap: .1vmin;
                font-weight: bold;
            }
        }
    }

    @layer coupon {

        @layer colors {
            @layer applying {
                :root {
                    --coupon-button-color: black, #8b8e89;
                    --coupon-button-hover-color: black, #697765;
                    --coupon-button-apply-color: black, #8b8e89;
                    --coupon-button-apply-hover-color: black, #d1d4d1;
                    --coupon-input-color: black, #afadad;
                    --coupon-input-focus-color: black, whitesmoke;
                    --coupon-input-border-color: black, gray;
                    --coupon-input-focus-border-color: black, rgb(210, 206, 206);
                    --coupon-p-message-color: black, gray;
                    --coupon-p-message-invalid-color: black, rgb(209, 113, 113);
                }
            }

            @layer applied {
                :root {
                    --coupon-applied-show-bg-color: #eaeaea, #353434;
                    --coupon-applied-symbol-svg-fill-color: rgb(45, 45, 45), whitesmoke;
                    --coupon-applied-close-svg-color: rgb(45, 45, 45), whitesmoke;
                    --coupon-applied-close-svg-hover-color: black, rgb(209, 113, 113);
                    --coupon-applied-percentage-color: black, rgb(187, 186, 186);
                    --coupon-applied-percentage-number-color: black, rgb(211, 210, 210);
                }
            }
        }

        @layer properties {
            @layer general {
                section#main aside.calculation {
                    margin-top: 4vmin;
                }

                section#main aside.calculation aside.coupon {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transition: .4s ease-in-out;
                }
            }

            @layer applying {

                section#main aside.coupon div.applying {
                    height: 100%;
                    overflow: hidden;
                    transition: .4s cubic-bezier(0.39, 0.575, 0.565, 1);
                }

                section#main aside.coupon div.applying.remove {
                    height: 0;
                }

                section#main aside.coupon button.applyCouponBtn {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    font-weight: bold;
                    color: light-dark(var(--coupon-button-color));
                    padding: 1vmin 1vmin 1vmin 0;
                    font-family: var(--Inter);
                    font-size: 1.4vmin;
                    opacity: 0;
                    transition: .4s cubic-bezier(0.215, 1, 1, 1);
                }

                section#main aside.coupon div.applying button.applyCouponBtn.enabled {
                    opacity: 1;
                }

                section#main aside.coupon div.applying p.message {
                    font-family: var(--Inter);
                    font-weight: 400;
                    font-size: .8em;
                    opacity: 0;
                    color: light-dark(var(--coupon-p-message-color));
                    letter-spacing: .2px;
                    margin-top: .8vmin;
                    transition: .4s ease-in-out;
                }

                section#main aside.coupon div.applying p.message.invalid {
                    opacity: 1;
                    color: light-dark(var(--coupon-p-message-invalid-color));
                }

                section#main aside.coupon button:hover {
                    color: light-dark(var(--coupon-button-hover-color));
                }

                section#main aside.coupon div.applying div.container {
                    display: none;
                    position: relative;
                    width: fit-content;
                    margin: 1vmin 0;
                    transform-origin: left;
                    opacity: 0;
                    transition: .4s ease-in-out;
                }

                section#main aside.coupon div.applying div.container.active {
                    opacity: 1;
                }

                section#main aside.coupon div.applying div.container input {
                    position: relative;
                    height: 3vmin;
                    border-radius: 5px;
                    border: 1px solid light-dark(var(--coupon-input-border-color));
                    color: light-dark(var(--coupon-input-color));
                    font-family: var(--Noto_Sans_JP);
                    font-size: 1.3vmin;
                    letter-spacing: .25px;
                    opacity: 1;
                    width: 40vmin;
                    text-indent: 1.5vmin;
                    transition: ease-in-out .4s;
                }

                section#main aside.coupon div.applying div.container input::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 110%;
                    width: 110%;
                    background-color: #fff;
                }

                section#main aside.coupon div.applying.remove div.container input {
                    height: 0;
                    opacity: 0;
                }

                section#main aside.coupon div.applying div.container input::placeholder {
                    font-family: var(--Inter);
                }

                section#main aside.coupon div.applying div.container input:focus {
                    border: 1px solid light-dark(var(--coupon-input-focus-border-color));
                    color: light-dark(var(--coupon-input-focus-color));
                }

                section#main aside.coupon div.applying div.container div.apply {
                    display: inline-flex;
                    position: absolute;
                    top: 50%;
                    right: 0%;
                    transform: translateY(-50%);
                }

                section#main aside.coupon div.applying div.container div.apply button {
                    cursor: pointer;
                    display: none;
                    opacity: 0;
                    background-color: transparent;
                    border: none;
                    font-weight: bold;
                    color: light-dark(var(--coupon-button-apply-color));
                    padding: 0 1vmin;
                    font-size: 1.2vmin;
                    font-family: var(--Inter);
                    transition: .4s cubic-bezier(0.215, 1, 1, 1);
                }

                section#main aside.coupon div.applying div.container div.apply button.active {
                    opacity: 1;
                }

                section#main aside.coupon div.applying div.container div.apply button:hover {
                    color: light-dark(var(--coupon-button-apply-hover-color));
                }
            }

            @layer applied {
                section#main aside.coupon div.applied {
                    width: 40vmin;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    display: flex;
                    justify-content: space-between;
                }

                section#main aside.coupon div.applied.first {
                    height: 100%;
                    opacity: 1;
                    transition: .4s ease-in-out;
                }

                section#main aside.coupon div.applied.first.show {
                    opacity: 1;
                }

                section#main aside.coupon div.applied section.coupon {
                    background-color: light-dark(var(--coupon-applied-show-bg-color));
                    backdrop-filter: blur(5px);
                    padding: 0 1vmin;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    overflow: hidden;
                    height: 4.5vmin;
                    width: 14vmin;
                    border-radius: 5px;
                    opacity: 0;
                    transition: .4s ease-in-out;
                }

                section#main aside.coupon div.applied.first.show section.coupon {
                    opacity: 1;
                }

                section#main aside.coupon div.applied section.coupon div.cont {
                    display: inline-flex;
                    gap: 1vmin;
                }

                section#main aside.coupon div.applied section.coupon aside {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                section#main aside.coupon div.applied section.coupon aside.symbol svg {
                    fill: light-dark(var(--coupon-applied-symbol-svg-fill-color));
                    width: 1.5vmin;
                    height: 1.5vmin;
                }

                section#main aside.coupon div.applied section.coupon aside.name p {
                    font-family: var(--Poppins);
                    font-size: .8em;
                    line-height: .8em;
                    letter-spacing: .2px;
                }

                section#main aside.coupon div.applied section.coupon aside.close {
                    cursor: pointer;
                }

                section#main aside.coupon div.applied section.coupon aside.close svg {
                    color: light-dark(var(--coupon-applied-close-svg-color));
                    fill: none;
                    width: 1.8vmin;
                    height: 1.8vmin;
                    scale: 1;
                    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
                }

                section#main aside.coupon div.applied section.coupon aside.close:hover svg {
                    scale: 1.2;
                    color: light-dark(var(--coupon-applied-close-svg-hover-color));
                }

                section#main aside.coupon div.applied div.container p.percentage {
                    margin: .5vmin 0 0 .4vmin;
                    font-size: .8em;
                    opacity: 0;
                    transition: .4s ease-in-out;
                    font-family: var(--Inter);
                    color: light-dark(var(--coupon-applied-percentage-color));
                }

                section#main aside.coupon div.applied.first.show div.container p.percentage {
                    opacity: 1;
                }

                section#main aside.coupon div.applied div.container p.percentage span {
                    font-family: var(--Poppins);
                    font-weight: bold;
                    color: light-dark(var(--coupon-applied-percentage-number-color));
                }

                section#main aside.coupon div.applied aside.valueOfDiscount p {
                    font-family: var(--Lato);
                    color: #949494;
                    display: flex;
                    font-weight: bold;
                    gap: .1vmin;
                    font-size: .8em;
                    margin-top: 1.25vmin;
                    opacity: 0;
                    transition: .4s ease-in-out;
                }

                section#main aside.coupon div.applied.first.show aside.valueOfDiscount p {
                    opacity: 1;
                }

            }
        }

    }

    @layer quantity_menu {

        @layer colors {
            :root {
                --quantity-opacity-color: rgba(83, 77, 77, 0.402);
                --quantity-define-bg-color: whitesmoke, #121212;
                --quantity-define-border-color: #3e3c3c80, #6c6a6a84;
                --p-quantity-information: rgb(86, 84, 84), rgba(255, 255, 255, 0.919);
                --p-quantity-name: rgb(86, 84, 84), rgba(255, 255, 255, 0.719);
                --svg-quantity-color: rgb(86, 84, 84), rgba(245, 245, 245, 0.894);
                --svg-quantity-hover-color: rgb(59, 57, 57), white;
            }
        }

        @layer properties {

            @layer main {
                section.quantity {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100vw;
                    height: 100vh;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--quantity-opacity-color);
                    z-index: 7;
                }

                section.quantity menu#quantity {
                    overflow: hidden;
                    height: 30vmin;
                    width: 50vmin;
                    background-color: light-dark(var(--quantity-define-bg-color));
                    border-radius: 15px;
                    border: 2px solid light-dark(var(--quantity-define-border-color));
                    z-index: 8;
                }

                section.quantity menu#quantity section.container {
                    width: 100%;
                    height: 100%;
                }
            }

            @layer description {
                section.quantity menu#quantity section.container aside.desc {
                    position: relative;
                    height: 20%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1.5px solid light-dark(var(--quantity-define-border-color));
                }

                section.quantity menu#quantity section.container aside.desc aside.cont {
                    width: 90%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                section.quantity menu#quantity section.container aside.desc aside.cont>div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2vmin;
                }

                section.quantity menu#quantity section.container aside.desc aside.cont img {
                    width: 4vmin;
                    height: 4vmin;
                    object-position: center center;
                    border-radius: 5px;
                }

                section.quantity menu#quantity section.container aside.desc aside.cont div.container {
                    display: flex;
                    flex-direction: column;
                    gap: .8vmin;
                }

                section.quantity menu#quantity section.container aside.desc aside.cont div.container>p {
                    font-family: var(--Poppins);
                    color: light-dark(var(--p-quantity-information));
                    font-size: .9em;
                    line-height: .9em;
                    font-weight: bold;
                }

                section.quantity menu#quantity section.container aside.desc aside.cont div.container p.name {
                    font-family: var(--Lato);
                    color: light-dark(var(--p-quantity-name));
                    font-size: .75em;
                }

                section.quantity menu#quantity section.container div.close {
                    cursor: pointer;
                }

                section.quantity menu#quantity section.container div.close svg {
                    height: 2.5vmin;
                    width: 2.5vmin;
                    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    color: light-dark(var(--svg-quantity-color));
                }

                section.quantity menu#quantity section.container div.close:hover svg {
                    transform: scale(1.2);
                    color: light-dark(var(--svg-quantity-hover-color));
                }
            }

            @layer numbers {
                section.quantity menu#quantity section.container aside.define {
                    position: relative;
                    height: 80%;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }

                section.quantity menu#quantity section.container aside.define section.numbers {
                    display: flex;
                    gap: 1.5vmin;
                }

                section.quantity menu#quantity section.container aside.define section.numbers button {
                    border-radius: 50%;
                    height: 3vmin;
                    width: 3vmin;
                    position: relative;
                    border: none;
                    cursor: pointer;
                }

                section.quantity menu#quantity section.container aside.define section.numbers button svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 2vmin;
                    height: 2vmin;
                }

                section.quantity menu#quantity section.container aside.define section.numbers input {
                    text-align: center;
                    -webkit-appearance: none;
                    margin: 0;
                    -moz-appearance: textfield;
                    appearance: textfield;
                }
            }

        }

    }
}

@layer Payment_Details {
    @layer colors {

        @layer general {
            :root {
                --general_input_error_span_color: #bb323b, #bb323b;
                --general_error_svg_fill_color: #ee404c, #ee404c;
            }
        }

        @layer googlePay {
            :root {
                --googlepay_button_color: whitesmoke, whitesmoke;
                --aside_pay_bg_color: rgb(249, 249, 249), #1d1d1d;
                --googlepay_button_bg_color: rgb(73, 65, 65), rgba(128, 128, 128, 0.245);
                --googlepay_button_hover_bg_color: rgb(51, 42, 42), rgba(70, 69, 69, 0.884);
                --google_symbol_color: white, white;
                --google_symbol_firstColor: #E94335, #E94335;
                --google_symbol_secondColor: #FABB06, #FABB06;
                --google_symbol_thirdColor: #34A853, #34A853;
                --google_symbol_fourthColor: #4285F3, #4285F3;
            }
        }

        @layer divider {
            :root {
                --divider_hr_bg_color: grey, #BCBCBC;
                --divider_p_color: grey, #BCBCBC;
            }
        }

        @layer info {
            :root {
                --info_p_color: rgb(89, 75, 75), rgb(230, 230, 230);
                --info_input_normal_border_color: rgba(150, 122, 122, 0.8), rgba(128, 128, 128, 0.31);
                --info_input_normal_bg_color: rgba(99, 99, 99, 0.025), rgba(227, 222, 222, 0.025);
            }
        }

        @layer methods {
            :root {
                --methods_p_color: rgb(89, 75, 75), rgb(230, 230, 230);
                --methods_p_option_color: rgb(107, 97, 97), rgb(230, 230, 230);
                --methods_aside_selector_border_color: rgba(150, 122, 122, 0.8), rgba(128, 128, 128, 0.31);
                --methods_label_option_hover_bg_color: rgba(167, 164, 164, 0.2), rgba(128, 128, 128, 0.11);
                --methods_pix_icon_color: #00BDAE, #00BDAE;
                --methods_input_bg_color: rgba(150, 122, 122, 0.3), white;
                --methods_input_nomark_color: rgb(103, 86, 86), rgba(70, 69, 69, 0.884);
                --methods_input_mark_color: rgb(103, 86, 86), rgba(70, 69, 69, 0.884);
            }
        }

        @layer submit {
            :root {
                --submit_pay_button_color: whitesmoke, rgba(245, 245, 245, 0.55);
                --submit_pay_button_hover_color: white, rgba(245, 245, 245, 0.7);
                --submit_pay_button_bg_color: rgb(73, 65, 65), rgba(128, 128, 128, 0.2);
                --submit_pay_button_hover_bg_color: rgb(51, 42, 42), rgb(58, 58, 58);
            }
        }
    }

    @layer properties {

        @layer general {
            section#main aside.pay section.container {
                height: 100%;
                width: 100%;
                background-color: light-dark(var(--aside_pay_bg_color));
                border-radius: 10px 0 0 10px;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.102);
            }

            section#main aside.pay section.container section.payment {
                padding: 4vmin 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                margin: auto;
            }
        }

        @layer googlePay {
            section#main aside.pay section.container aside.google {
                width: 100%;
                display: flex;
                justify-content: center;
                height: max-content;
            }

            section#main aside.pay section.container aside.google button.googlepay {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .4vmin;
                border-radius: 3px;
                width: 90%;
                height: 4vmin;
                font-size: .9em;
                font-family: var(--Inter);
                color: light-dark(var(--googlepay_button_color));
                padding: .25vmin 0;
                background-color: light-dark(var(--googlepay_button_bg_color));
                border: none;
                transition: .4s ease-in-out;
            }

            section#main aside.pay section.container aside.google button.googlepay:hover {
                background-color: light-dark(var(--googlepay_button_hover_bg_color));
                border-radius: 5px;
            }

            section#main aside.pay section.container aside.google button.googlepay svg {
                height: 60%;
                width: auto;
            }

            section#main aside.pay section.container aside.google button.googlepay svg path {
                color: light-dark(var(--google_symbol_color));
                transition: .4s cubic-bezier(0.300, 0.885, 0.880, 1.275);
            }

            section#main aside.pay section.container aside.google button.googlepay:hover svg path.red {
                color: light-dark(var(--google_symbol_firstColor));
            }

            section#main aside.pay section.container aside.google button.googlepay:hover svg path.yellow {
                color: light-dark(var(--google_symbol_secondColor));
            }

            section#main aside.pay section.container aside.google button.googlepay:hover svg path.green {
                color: light-dark(var(--google_symbol_thirdColor));
            }

            section#main aside.pay section.container aside.google button.googlepay:hover svg path.blue {
                color: light-dark(var(--google_symbol_fourthColor));
            }
        }

        @layer divider {
            section#main aside.pay section.container aside.divider {
                position: relative;
                padding: 4vmin 0;
                width: 90%;
            }

            section#main aside.pay section.container aside.divider hr {
                background-color: light-dark(var(--divider_hr_bg_color));
                border: none;
                height: 1px;
                width: 100%;
            }

            section#main aside.pay section.container aside.divider p {
                background-color: light-dark(var(--aside_pay_bg_color));
                color: light-dark(var(--divider_p_color));
                left: 50%;
                top: 50%;
                padding: 0 1vmin;
                font-family: var(--Inter);
                font-size: .8em;
                font-weight: bold;
                position: absolute;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                white-space: nowrap;
            }
        }

        @layer methods {
            @layer properties {
                @layer main {
                    section#main aside.pay section.container form {
                        width: 90%;
                        display: flex;
                        flex-direction: column;
                        gap: 2vmin;
                    }

                    section#main aside.pay section.container form aside.info,
                    section#main aside.pay section.container form aside.methods,
                    section#main aside.pay section.container form aside.submit {
                        width: 100%;
                    }

                }

                @layer info {
                    section#main aside.pay section.container form aside.info {
                        display: flex;
                        flex-direction: column;
                        gap: 2vmin;
                    }

                    section#main aside.pay section.container form aside.info aside {
                        height: max-content;
                        width: 100%;
                    }

                    section#main aside.pay section.container form aside.info aside label {
                        display: flex;
                        flex-direction: column;
                        gap: .25vmin;
                    }

                    section#main aside.pay section.container form aside.info aside label p {
                        display: flex;
                        justify-content: space-between;
                        font-size: .9em;
                        overflow: hidden;
                        font-weight: bold;
                        font-family: var(--Noto_Sans_JP);
                        letter-spacing: .2px;
                        color: light-dark(var(--info_p_color));
                    }

                    section#main aside.pay section.container form aside.info aside label p span.error {
                        opacity: 0;
                        color: light-dark(var(--general_input_error_span_color));
                        display: flex;
                        gap: .5vmin;
                        height: 100%;
                        transition: .6s ease-in-out;
                    }

                    section#main aside.pay section.container form aside.info aside label p span.error.enabled {
                        opacity: 1;
                    }

                    section#main aside.pay section.container form aside.info aside label p span.error span.svg svg {
                        height: 1.2em;
                        transform: translateY(15%);
                        fill: light-dark(var(--general_error_svg_fill_color));
                    }

                    section#main aside.pay section.container form aside.info aside label input[type="text"],
                    section#main aside.pay section.container form aside.info aside label input[type="email"],
                    section#main aside.pay section.container form aside.info aside label input[type="number"] {
                        appearance: textfield;
                        -webkit-appearance: textfield;
                        -moz-appearance: textfield;
                        height: 4vmin;
                        font-size: 80%;
                        text-indent: 1vmin;
                        border-radius: 5px;
                        font-weight: normal;
                        background-color: light-dark(var(--info_input_normal_bg_color));
                        border: 1px solid light-dark(var(--info_input_normal_border_color));
                        font-family: var(--Noto_Sans_JP);
                        letter-spacing: .2px;
                        color: light-dark(var(--methods_p_option_color));
                    }

                    input[type="number"]::-webkit-outer-spin-button,
                    input[type="number"]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }

                @layer methods {
                    @layer selector {
                        section#main aside.pay section.container aside.methods aside.selector {
                            display: flex;
                            flex-direction: column;
                            gap: .5vmin;
                            border: 1px solid light-dark(var(--methods_aside_selector_border_color));
                            border-radius: 5px;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
                            padding: .5vmin;
                            transition: .2s ease-in-out;
                        }

                        section#main aside.pay section.container form aside.methods>p {
                            display: flex;
                            justify-content: space-between;
                            font-size: .9em;
                            margin-bottom: 1.2vmin;
                            font-weight: bold;
                            font-family: var(--Noto_Sans_JP);
                            letter-spacing: .2px;
                            color: light-dark(var(--methods_p_color));
                        }

                        section#main aside.pay section.container form aside.methods>p span.error {
                            opacity: 0;
                            color: light-dark(var(--general_input_error_span_color));
                            display: flex;
                            gap: .5vmin;
                            height: 100%;
                            transition: .6s ease-in-out;
                        }

                        section#main aside.pay section.container form aside.methods>p span.error.enabled {
                            opacity: 1;
                        }

                        section#main aside.pay section.container form aside.methods>p span.error span.svg svg {
                            height: 1.2em;
                            transform: translateY(15%);
                            fill: light-dark(var(--general_error_svg_fill_color));
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option {
                            display: flex;
                            overflow: hidden;
                            width: 100%;
                            height: 4vmin;
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label {
                            display: flex;
                            cursor: pointer;
                            border-radius: 5px;
                            gap: 1vmin;
                            padding: 0 1vmin;
                            height: 100%;
                            width: 100%;
                            background-color: transparent;
                            align-items: center;
                            justify-content: flex-start;
                            transition: .2s ease-in-out;
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label:hover {
                            background-color: light-dark(var(--methods_label_option_hover_bg_color));
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label input {
                            -webkit-flex: 0 0 16px;
                            -ms-flex: 0 0 16px;
                            flex: 0 0 16px;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            background-clip: content-box;
                            background-color: light-dark(var(--methods_input_bg_color));
                            border-radius: 50%;
                            box-shadow: inset 0 0 0 0 light-dark(var(--methods_input_nomark_color));
                            padding: 1px;
                            display: inline-block;
                            height: 16px;
                            transition: .2s ease;
                            width: 16px;
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label input:checked {
                            box-shadow: inset 0 0 0 5px light-dark(var(--methods_input_mark_color));
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label input {
                            cursor: pointer;
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label div.info {
                            display: flex;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            gap: .5vmin;
                        }

                        section#main aside.pay section.container aside.methods aside.selector div.option label div.info p {
                            display: flex;
                            font-size: .8em;
                            font-weight: normal;
                            font-family: var(--Noto_Sans_JP);
                            letter-spacing: .2px;
                            color: light-dark(var(--methods_p_option_color));
                        }
                    }

                    @layer SVG {
                        @layer card {
                            section#main aside.pay section.container aside.methods aside.selector div.option.card label div.info svg {
                                display: inline;
                                height: 90%;
                                width: 5vmin;
                            }
                        }

                        @layer pix {
                            section#main aside.pay section.container aside.methods aside.selector div.option.pix label div.info svg {
                                display: inline;
                                height: 60%;
                                width: 5vmin;
                                color: light-dark(var(--methods_pix_icon_color));
                            }
                        }
                    }

                }

                @layer submit {

                    section#main aside.pay section.container form aside.submit p {
                        display: flex;
                        justify-content: flex-end;
                        font-size: .9em;
                        overflow: hidden;
                        font-weight: bold;
                        font-family: var(--Noto_Sans_JP);
                        letter-spacing: .2px;
                        color: light-dark(var(--info_p_color));
                    }

                    section#main aside.pay section.container form aside.submit p span.error {
                        opacity: 0;
                        color: light-dark(var(--general_input_error_span_color));
                        display: flex;
                        gap: .5vmin;
                        height: 100%;
                        transition: .6s ease-in-out;
                    }

                    section#main aside.pay section.container form aside.submit p.enabled span {
                        opacity: 1;
                    }

                    section#main aside.pay section.container form aside.submit p span.error span.svg svg {
                        height: 1.2em;
                        transform: translateY(15%);
                        fill: light-dark(var(--general_error_svg_fill_color));
                    }

                    section#main aside.pay section.container form aside.submit button {
                        cursor: pointer;
                        margin-top: 1vmin;
                        width: 100%;
                        height: 4vmin;
                        font-family: var(--Noto_Sans_JP);
                        font-weight: 600;
                        font-size: .9em;
                        border-radius: 3px;
                        background-color: light-dark(var(--submit_pay_button_bg_color));
                        color: light-dark(var(--submit_pay_button_color));
                        transition: .4s ease-in-out;
                    }

                    section#main aside.pay section.container form aside.submit button:hover {
                        border-radius: 5px;
                        background-color: light-dark(var(--submit_pay_button_hover_bg_color));
                        color: light-dark(var(--submit_pay_button_hover_color));
                    }
                }

            }
        }
    }
}